<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @comment.id %>
</p>

<p>
  <strong>Field:</strong>
  <%= @comment.field %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
