<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Posts:</strong>
  <% @user_all_posts.each do |x| %>
    <br />
    <%= link_to '|open post|', post_path(x['id'].to_s) %>
    <%= link_to '|delete post|', post_path(x['id'].to_s), {method: :delete} %>
    <%= x['title'] %>
  <% end %>
   
</p>

<%= link_to '|Edit|', edit_user_path(@user) %> 
<%= link_to '|Home|', '/' %>
<%= link_to '|Create Post|', new_post_path %>
<%= link_to '|Delete Profile|', user_path(current_user.id.to_s), {method: :delete} %>
<%= link_to '|Back|', users_path %>